/* zerando as configurações padrão */
body {
    margin: 0;
    padding: 0;
}
/* configuração de menu */
.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #296d38;
    padding: 10px;
}

.menu img {
    height: 30px;
    width: 30px;
    margin-right: 10px;
}

.menu ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

.menu ul li {
    margin-right: 10px;
    color: #f5fbfd;
}

.menu ul li a {
    text-decoration: none;
    font-weight: bold;
    color: #f5fbfd;
}

.menu ul li a:hover {
    text-decoration: underline;
}
/* estilo dos  da vitrine*/
.cards-remedios {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.nome-remedio {
    width: calc(25% - 20px);
    background-color: #f2f2f2;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    text-align: center;
}

.nome-remedio img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
}

.nome-remedio h3 {
    font-size: 18px;
    margin-bottom: 5px;
}

.heart-icon {
    color: red;
    font-size: 18px;
    margin-bottom: 5px;
}

.price {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}

.botao-adicionar {
    margin-right: 5px;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 12px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}
/*Estilo do formulário*/
.Formulario form {
    max-width: 400px;
    margin: 0 auto;
  }
  
  .Formulario fieldset {
    border: none;
  }
  
  .Formulario legend {
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  
  .Formulario label {
    display: block;
    margin-bottom: 5px;
  }
  
  .Formulario input,
  .Formulario textarea,
  .Formulario select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .Formulario textarea {
    resize: vertical;
  }
  
  .Formulario input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .Formulario input[type="submit"]:hover {
    background-color: #45a049;
  }
  
  .Formulario input[type="checkbox"] {
    margin-right: 5px;
    vertical-align: middle;
  }
  
  .Formulario::after {
    content: "";
    display: table;
    clear: both;
  }
  /* alinhando o checkbox */
  
 
  .Formulario legend {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .Formulario label {
    margin-left: 5px;
  }
  
  .Formulario input[type="checkbox"] {
    margin-right: 5px;
    vertical-align: middle;
  }
  
  /* Estilizado o rodapé*/
  .rodape {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
    color: #296d38;
  }
  
  .rodape p {
    margin-bottom: 10px;
  }
  
  .rodape p:last-child {
    margin-bottom: 0;
  }
  
